body {
    background: url(assets/pattern.jpg) top left repeat;
    font-family: "Maison Mono Regular";
    color: $color-primary;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.wrapper-title {
    margin: 200px 0px 100px 180px;
    background: $color-bg-highlighted;
    width: 65vw;

    p {
        text-transform: uppercase;
        line-height: 150%;
        letter-spacing: .5px;
    }
}

.icon-wrapper {
    position: absolute;
    top: 40px;
    right: 70px;
}

.icon {
    height: 35px;
    margin-left: 20px;
}

.title-state {
    position: absolute;
    left: 185px;
    top: 50px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.line {
    width: 60px;
}

.bar {
    position: relative;
    top: 590px;
    left: 22px;
}

.headline {
    font-size: 2rem;
    text-transform: uppercase;
}

.canvas-wrapper {
    transform: translateX(230px) translateY(100px);
}

.frame-wrapper {
    position: absolute;
    top: 118px;
    left: 254px;
    width: 500px;
    height: 700px;
    opacity: 1;
    border: 1px solid red;

    img {
        position: absolute;
        left: 70px;
        top: 90px;
    }

    span {
        background: $color-primary-unselected;
    }
}

.side-block {
    background: $color-bg-highlighted;
    display: inline-block;
    position: absolute;
    font-size: .8rem;
    padding: 0px 10px 0px 10px;
    letter-spacing: 2px;

    &.lat {
        transform: rotate(90deg) translateY(-890px) translateX(200px);
    }

    &.lng {
        transform: rotate(90deg) translateY(-890px) translateX(450px);
    }

    &.date {
        transform: rotate(-90deg) translateY(-30px) translateX(-400px);
    }

    &.tag {
        transform: rotate(-90deg) translateY(-16px) translateX(-200px);
    }
}

#video {
    position: absolute;
    top: 220px;
    opacity: 1;
    transform: rotate(90deg) translateY(-138px) translateX(-29px) scale(1, -1);
}

#canvas {
    position: absolute;
}

.hide {
    display: none;
}

.btn-next {
    background: $color-select;
    font-family: "Maison Mono Regular";
    position: relative;
    left: 180px;
    font-size: 1rem;
    padding: 10px 15px 8px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
}

.btn-cancel {
    background: none;
    color: $color-primary-selec;
    font-family: "Maison Mono Regular";
    position: relative;
    left: 180px;
    font-size: 1rem;
    padding: 10px 15px 8px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
}

.glitch{
    color:white;
    // font-size:100px;
    position:relative;
    // width:400px;
    margin:0 auto;
  }
  @keyframes noise-anim{
    $steps:10;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:after{
    content:attr(data-text);
    position:absolute;
    left:2px;
    text-shadow:-1px 0 red;
    top:0;
    color:white;
    background:$color-bg-highlighted;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow:1px 0 blue; 
    top:0;
    color:white;
    background:$color-bg-highlighted;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim-2 3s infinite linear alternate-reverse;
  }