body {
    background: url(assets/pattern.jpg) top left repeat;
    font-family: "Maison Mono Regular";
    color: $color-primary;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.wrapper-title {
    margin: 200px 0px 100px 180px;
    background: $color-bg-highlighted;
    width: 65vw;
    position: absolute;

    p {
        text-transform: uppercase;
        line-height: 150%;
        letter-spacing: .5px;
    }
}

/*.fadeInOut {
    transition-duration: 0.5s;
    transition-property: opacity, visibility;
    transition-delay: 1s;
}*/

.hidden {
    visibility: hidden;
    opacity: 0;
    /*transition-duration: 0.5s;
    transition-property: opacity, visibility;
    transition-delay: 0s;*/
}

.param-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;

    span {
        font-family: "Maison Mono Regular";
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: 2px;
        margin-bottom: .25rem;
        background: none;
    }
    
    span.response {
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
}

.icon-wrapper {
    position: absolute;
    top: 40px;
    right: 70px;
}

.icon {
    height: 32px;
    margin-left: 20px;
}

.title-state {
    position: absolute;
    left: 180px;
    top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#title-explain {
    position:absolute;
    left:180px;
    top:800px;
    color:red;
}

#state-01 ul,
#state-01 li{
    list-style:square outside;
    padding-bottom:15px;
    line-height:1.5em;
    font-size:18px;
}

.btn-group {
    position: absolute;
    width: 700px;
    bottom: 50px;
}

.line {
    width: 60px;
}

.bar {
    position: relative;
    top: 590px;
    left: 22px;
}

.textShadow {
    text-shadow: 0 0 2rem $color-primary-unselected;
    animation: blinkShadowText 1s ease infinite;
}

@keyframes blinkShadowText {
    0% { text-shadow: 0 0 0rem $color-primary-unselected; }
    50% { text-shadow: 0 0 1rem $color-primary-unselected; }
    100% { text-shadow: 0 0 0rem $color-primary-unselected; }
}

.boxShadow {
    box-shadow: 0 0 2rem $color-primary-unselected;
    animation: blinkShadowBox 2s ease infinite;
}

@keyframes blinkShadowBox {
    0% { box-shadow: 0 0 0rem $color-select; }
    50% { box-shadow: 0 0 1.5rem $color-select; }
    100% { box-shadow: 0 0 0rem $color-select; }
}



.overlay-printing {
    position: absolute;
    text-transform: uppercasse;
    top: 450px;
    color: $color-bg-highlighted;
    left: 253px;
    z-index: 1000;
    font-size: 1.5rem;
    text-shadow: 0 0 2rem $color-primary-unselected;
    animation: blink .3s infinite linear;
}

@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

.headline {
    font-size: 2rem;
    text-transform: uppercase;
}

.canvas-wrapper {
    transform: translateX(175px) translateY(100px);
}

.wrapper-analysis {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 750px;
    height: 300px;
    left: 175px;
    top: 875px;

    div {
        width: 90%;
        margin-right: 1rem;
    }
}

.image-wrapper {
    width: 200px;
    background: red;
}

.countdown-wrapper {
    position: absolute;
    left: 252px;
    top: 390px;
    width: 500px;
    height: 500px;
    color: $color-primary;

    span {
        position: absolute;

    }

    span:nth-child(1) {
        width: 100px;
        top: 72px;
    }

    span:nth-child(3) {
        position: absolute;
        top: 72px;
        width: 200px;
        left: 320px;
    }
}

.countdown-number {
    position: absolute;
    left: 95px;
    font-size: 10rem;
}

.wrapper-error{
    color: #F8FDFF;
    position: absolute;
    opacity: 0.9;
    left: 170px;
    top: 850px;

    font-size:16px;

    background: $color-bg-highlighted;
    width: 65vw;

    p {
        text-transform: uppercase;
        line-height: 150%;
        letter-spacing: .5px;
    }   
}

.frame-wrapper {
    position: absolute;
    top: 98px;
    left: 201px;
    width: 500px;
    height: 700px;
    // overflow: visible;
    opacity: 1;

    img {
        position: absolute;
        left: 70px;
        top: 90px;
    }

    span {
        color: #F8FDFF;
        position: absolute;
        opacity: 0.9;
        left: -20px;
        top: 750px;

        font-size:16px;

        background: $color-bg-highlighted;
        width: 65vw;

        p {
            text-transform: uppercase;
            line-height: 150%;
            letter-spacing: .5px;
        }
        
    }
}

.side-block {
    background: $color-bg-highlighted;
    display: inline-block;
    position: absolute;
    font-size: .8rem;
    padding: 0px 10px 0px 10px;
    letter-spacing: 2px;

    &.lat {
        transform: rotate(90deg) translateY(-890px) translateX(200px);
    }

    &.lng {
        transform: rotate(90deg) translateY(-890px) translateX(450px);
    }

    &.date {
        transform: rotate(-90deg) translateY(-30px) translateX(-400px);
    }

    &.tag {
        transform: rotate(-90deg) translateY(-16px) translateX(-200px);
    }
}

#video {
    position: absolute;
    top: 220px;
    opacity: 1;
    transform: rotate(90deg) translateY(-83px) translateX(-29px) scale(1, -1);
}

.result-wrapper {
    position: absolute;
    top: 100px;
    left: 174px;
    width: 547px;
    height: 729px;
    svg{
        width: 547px;
        height: 729px;
    }
}

#canvas {
    position: absolute;
}

.hide {
    visibility: hidden;
}

.btn-next {
    background: $color-select;
    font-family: "Maison Mono Regular";
    position: relative;
    left: 180px;
    font-size: 1rem;
    padding: 10px 15px 8px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
}

.btn-cancel {
    background: none;
    color: $color-primary-selec;
    font-family: "Maison Mono Regular";
    position: relative;
    left: 180px;
    font-size: 1rem;
    padding: 10px 15px 8px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
}

.glitch{
    color:white;
    // font-size:100px;
    position:relative;
    // width:400px;
    margin:0 auto;
  }
  @keyframes noise-anim{
    $steps:10;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:after{
    content:attr(data-text);
    position:absolute;
    left:2px;
    text-shadow:-1px 0 red;
    top:0;
    color:white;
    background:$color-bg-highlighted;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow:1px 0 blue; 
    top:0;
    color:white;
    background:$color-bg-highlighted;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim-2 3s infinite linear alternate-reverse;
  }

  @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  /*.animate-flicker {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
    }*/

.overlay {
    width: 10px;
    position: absolute;
    height: 100px;
}

.scanning:after {
    content: '';
    /* make the element cover the whole thing */
    display: block;
    width: 548px;
    height: 730px;
    position: absolute;
    top: 100px;
    left: 174px;
    /* and sit in front */
    z-index: 1;
    /* gradient with a radar like fade */
    background:
        linear-gradient(0deg,
        rgba(0,0,0,0),
        rgba(0,0,0,0) 45%,
        $color-primary 55%,
        $color-primary-selec 53%,
        rgba(0,0,0,0) 55%,
        rgba(0,0,0,0)
        );
    -webkit-animation:   scan 5s linear infinite;
    }
    
    @-webkit-keyframes scan {
    /* finish with the scan bar just off the right side */
        from {
            background-position: 0 700px;
        } to { 
            background-position: 0 0;
        }
    }
    